* {
  margin: 0px;
  padding: 0px;
}

/* header */

#header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 32x;
  background-color: rgb(231, 222, 222);
  color: black;
}
#header > div:nth-child(2) {
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1px;
  width: 6.1%;
  justify-content: center;
}
.header_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
}
.header_1 > img {
  height: 29px;
}
.header_1:hover {
  cursor: pointer;
  background-color: rgb(205, 194, 194);
}
#header > div:nth-child(2):hover {
  cursor: pointer;
  background-color: rgb(205, 194, 194);
}

/* navbar */
#navbar_1 > .a {
  border-bottom: 2px solid black;
}
#navbar {
  display: flex;
  justify-content: space-around;
  height: auto;
}
.nav_1 {
  padding: 5px;
  width: 35%;
  height: 150px;
  display: flex;
  align-items: center;
}
.nav_1 > div:nth-child(1) > h1 {
  font-size: 60px;
}
.nav_1 > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nav_1 > div:nth-child(2) {
  width: 48%;
  height: 99%;
}
.nav_1 > div:nth-child(1) {
  width: 100%;
}
.nav_1 > div:nth-child(1):hover {
  cursor: pointer;
}
.nav_1 > div:nth-child(2) > img:hover {
  cursor: pointer;
}

.nav_2 {
  width: 30%;
  display: flex;
  align-items: center;
}
.nav_2 > input {
  width: 90%;
  height: 35px;
  padding: 2px;
}
.nav_2 > img {
  text-align: center;
  height: 40px;
}
.nav_2 > img:hover {
  cursor: pointer;
}

.nav_3 {
  width: 30%;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.nav_3 > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.nav_3 > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_3 > div > div > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.nav_3 > div > div:hover {
  background-color: rgb(217, 204, 204);
  cursor: pointer;
  border: 1px solid rgb(217, 204, 204);
}

.items {
  display: block;
  display: flex;
  justify-content: space-between;
  width: 85%;
  color: #4b4646;
  font-size: 16px;
  margin-top: 10px;
}
.items > div:hover {
  cursor: pointer;
  background-color: #0209089d;
  width: 10%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}
.items > div {
  margin-left: 12px;
}

#Section_1 {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  background-color: #ecebeb;
}
#Section_1 > div {
  display: flex;
  height: 100%;
  width: 90%;
}
#Section_1 > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  width: 100%;
  padding: 1px;
  margin: 1px;
}

#Section_1 > div > div > img {
  width: 50px;
  margin-right: 1px;
}

#text {
  font-size: 23px;
  background-color: #2e3337;
  height: 40px;
  align-items: center;
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  color: white;
}
#text:hover {
  background-color: white;
  color: black;
}

#Slider {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Slider > img {
  width: 92%;
}

#Slider > div > button {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 40px;
  border: none;
}

.circles {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
}
.circles > span {
  margin: 5px;
}

.circles ~ h1 {
  text-align: center;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 35px;
}

#smallCards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
#smallCards > div {
  width: 16%;
  height: 100%;
}
#smallCards > div > button {
  border: none;
  background-color: white;
}
#smallCards > div > button > img {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  opacity: .9;
}

#smallCards > div > button>img:hover{
    cursor: pointer;
    opacity: 7;
}

#gridCards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-top: 30px;
  gap: 10px;
  font-family: "Lato-Light", Helvetica, Arial, sans-serif;
}

#gridCards > div {
  text-align: center;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 5px;
}

#gridCards > div > button {
  padding: 12px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
  font-weight: lighter;
}
#gridCards > div > img {
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
}
#gridCards > div > h3 {
  margin-bottom: 10px;
  font-weight: lighter;
}
#gridCards > div > button:hover{
    cursor: pointer;
    background-color: #cddcdb;
}

#medics {
  display: flex;
  width: 100%;
  height: 470px;
}
#medics > div {
  text-align: center;
  width: 23%;
  height: 100%;
  margin: auto;
}
#medics > div > img {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}
#medics > div > h3 {
  font-weight: lighter;
}
#medics > div > button > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#medics > div > p {
  margin-top: 20px;
}
#medics>div>button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 10px;
  border: none;
}
#medics>div:nth-child(1) > button {
  margin-top: 42px;
}
#medics>div:nth-child(2)>button {
  margin-top: 42px;
}
#medics > div:nth-child(3) > button {
  margin-top: 19px;
}
#medics>div:nth-child(4) > button {
  margin-top: 65px;
}
#medics>div>button:hover{
    background-color: #28bdb7;
    cursor: pointer;
    color: #333;
}

#logos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: auto;
  margin-top: 50px;
}
#logos > div {
  width: 16%;
  height: 100%;
}
#logos > div > img {
  width: 90%;
  height: 100%;
}
#logos > div:nth-child(5) {
  margin-top: -9px;
}
#logos > div:hover{
    cursor: pointer;
    opacity: .8;
}

#blog {
  display: flex;
  width: 100%;
  height: auto;
  text-align: center;
}
#blog>div{
    width: 32%;
    height: 100%;
    padding: 25px;
}
#blog>div>img{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
}
#blog>div>button{
    padding: 12px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    font-weight: lighter;
}
#blog>div>button:hover{
    cursor: pointer;
    background-color:#99d0ce ;
}
#blog>div>h3{
    font-weight: 500;
    margin-bottom: 10px;
  }

.border{
    margin-top: 30px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

#footer-1{
    width: 100%;
    height: auto;
    display: flex;
}
#footer-1>div{
    margin: auto;
    width: 45%;
    height: 100%;
    padding-left: 10px;
}

#footer-1>div>.image{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 15px;
    gap: 10px;
}
#footer-1>div>.image>img{
    width: 100%;
    height: 100%;
}
#footer-1>div>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    background-color: #333;
    color: white;
    border: none;
    margin-top: 15px;
}
#footer-1>div>button:hover{
    color: #333;
    background-color: #28bdb7;
    cursor: pointer;
}
#border_2{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
}
#border_2>div:nth-child(1){
    border-top: 1px solid grey;
    width: 37%;
    height: 100%;
    margin-top: 43px;
    margin-left: 38px;
}
#border_2>div:nth-child(2){
    border-top: 1px solid grey;
    margin: auto;
    width: 37%;
    height: 100%;
    margin-top: 43px;
}

#footer_2{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#footer_2>div{
    margin-left: 25px;
    padding: 7px;
    margin-top: 10px;
}
#footer_2>div>h3{
    font-weight: 500;
}
#footer_2>div:nth-child(1)>button{
    display: flex;
    margin-top: 10px;
    padding: 10px 8px;
    width: 50%;
    border: none;
    background-color: white;
    font-size: 14px;
    text-align: start;
}
#footer_2>div:nth-child(1)>button:hover{

    background-color: darkgray;
    cursor: pointer;
}
#footer_2>div:nth-child(1){
    width: 57%;
    height: 100%;
}
#footer_2>div:nth-child(2),#footer_2>div:nth-child(3),#footer_2>div:nth-child(4){
    width:17%;
    height: 100%;
    margin-left: 30px;
}
#footer_2>div:nth-child(2)>button,#footer_2>div:nth-child(3)>button,#footer_2>div:nth-child(4)>button{
    margin-top: 10px;
    padding: 10px 8px;
    width: 100%;
    border: none;
    background-color: white;
    font-size: 14px;
    text-align: start;
}
#footer_2>div:nth-child(2)>button:hover,#footer_2>div:nth-child(3)>button:hover,#footer_2>div:nth-child(4)>button:hover{
    background-color: darkgray;
    cursor: pointer;
}
#footer_2>div>h3{
    margin-left: 7px;
    margin-bottom: 20px;
}

#footer_2>div:nth-child(1)>button>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
