*{
    margin: 0px;
    padding: 0px;
}

#main_1{
    position: sticky;
    top: 0px;
    z-index: 10px;
    background-color: white;
}
#navbar{
    padding-top: 15px;
    text-align: center;
    width: 100%;
    line-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#navbar>h1{
    font-size: 65px;
}
#navbar>p{
    font-size: 16px;
    font-weight: 500;
}
#href{
    text-decoration: none;
    color: black;
}

#main{
    width: 60%;
    height: auto;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 30px;
    margin-top: 40px;
}

h3{
    margin-top: 40px;
    font-size: 22px;
}
.sign{
    display: flex;
    justify-content: space-between;
}
.sign>button>img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sign>button{
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    font-size: 30px;
    background-color: white;
    border: 1px solid grey;
}
.sign>button>a{
    text-decoration: none;
    color: gray;
}
.sign>button:hover{
    cursor: pointer;
    background-color: rgb(244, 237, 237);
    border: none;
}

.border{
    border-bottom: 1px solid grey;
    margin-top: 60px;
    margin-bottom: 30px;
}

form{
    display: grid;
    width: 50%;
}

form>input{
    margin-top: 5px;
    height: 50px;
    width: 200%;
    font-weight: lighter;
    font-size: 20px;
  
}
form>label{
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}


input[type="submit"]{
    width: 200%;
    height: 50px;
    margin-top: 30px;
    font-size: 25px;
    background-color: rgb(46, 51, 55);
    color: white;
    border: none;
    font-weight: 300;
    font-style: normal;
    font-family: Lato, sans-serif;
    text-decoration: none;

}
input[type="submit"]:hover{
    background-color: rgb(101, 169, 224);
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.hulk{
    width: 200%;
    margin: 20px;
    font-size: 18px;
    margin-left: 1px;
    font-weight: 300;
}
.hulk>a{
    color: black;
    font-weight: 900;
}

.going{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    display: block;
    width: 70%;
    text-align: center;
    text-decoration: none;
    color: black;
    color: lightcoral;
    margin: auto;
}

.going:hover{
    cursor: pointer;
    color: black;
    background-color: bisque;
    border: none;
}


 
